extends layout

block content
    .container-fluid
        form.form-signin(method="post", role="form")
            h2.form-signin-heading Please enter your credentials
            input.input-block-level#username(type="text", name="username", placeholder="Username")
            input.input-block-level#email(type="text", name="email", placeholder="Email address")
            input.input-block-level#password(type="password", name="password", placeholder="Password")
            input.btn.btn-large.btn-primary(type="submit", value="Go chat with some superheroes")

script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
